<ion-content>
  <img class="img1" src="assets/img/11.jpg">
  <ion-card>
      <ion-grid>
        <ion-row>
          <p>15/02/2019</p>
        </ion-row>
        <ion-row>
          <ion-col>
              <p>Total: Q250.00</p>
          </ion-col>
          <ion-col>
            <p>Pago: Efectivo</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="ion-text-center">
            <ion-icon name="arrow-down" (click)="desplegar()"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>
   