<ion-content>
  <img class="img1" src="assets/img/11.jpg">
  <div *ngIf="compras.length == 0; then thenBlock"></div>
    <ng-template #thenBlock>
      <div class="row row-center">
        <div class="col col-center">
                <h2>No ha realizado compras</h2>
        </div>
    </div>
    </ng-template>
  
  <ion-card *ngFor="let compra of compras; let i = index">
      <ion-grid>
        <ion-row>
          <p>{{compra.Fecha}}</p>
        </ion-row>
        <ion-row>
          <ion-col>
              <p>Total: Q{{compra.Total}}
              </p>
          </ion-col>
          <ion-col>
            <p>Pago: Efectivo</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="ion-text-center">
            <ion-icon name="arrow-down" (click)="desplegar()"></ion-icon>
          </div>
        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>
   