<ion-content>
  <img class="img1" src="assets/img/11.jpg">
  <div *ngIf="compras.length == 0; then thenBlock"></div>
    <ng-template #thenBlock>
      <div class="row row-center">
        <div class="col col-center">
                <h2>No ha realizado compras</h2>
        </div>
    </div>
    </ng-template>
  
  <ion-card *ngFor="let compra of compras; let i = index">
      <ion-grid >
        <ion-row>
          <p>{{compra.Fecha | date: short}}</p>
        </ion-row>
        <ion-row>
          <ion-col>
              <p>Total: Q{{compra.Total}}
              </p>
          </ion-col>
          <ion-col>
            <p>Pago: Efectivo</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Estado: {{compra.Entregado}}</p>
          </ion-col>
          <ion-col>
            <p>Codigo: {{compra.Codigo}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="ion-text-center">
            <a [routerLink]="['/tabs/ver-compra', compra.id]" routerDirection="forward" title="Ver detalle">
              <ion-icon name="md-search"></ion-icon>
            </a>
          </div>
        </ion-row>
      </ion-grid>
  </ion-card>
</ion-content>
   