img{
  height: 38%;
  width: auto;
  margin: auto;
  margin-top: 50px;
  display: block;
  padding: 5%;
}

a:link 
{ 
text-decoration:none; 
} 

ion-input{
    background-color: rgb(255, 241, 43);
    border-color: rgb(255, 241, 43);
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    padding-bottom: 5%;
}
ion-button{
    margin-top: 5%;
    width: 40%;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: #f88d13;
}
ion-content{
    text-align: center;
}
p{
    color: #6099ff;
}