ion-card-content{
    font-size: 10px;
    padding: 0%;
    width: 100%;
}

.img1{
    margin-top: 7%;
}

.img2{
    height: 80%;
    width: 80%;
    border-radius: 5px;
   
}
h2{
    font-size: 15px;
    color: #000;
}

.letra{
    font-size: 20px;
    color: #000;
}

ion-icon{
    font-size: 250%;
}
button{
    width: 100%;
    background: yellow;
    height: 55px;
}
p{
    font-size: 15px;
}
h2{
    color: #ced5e0;

}
