<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home" size="small"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="cart" size="small"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="graficas">
        <ion-icon name="podium" size="small"></ion-icon>
        <ion-label>Estadistica</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="historial">
          <ion-icon name="time" size="small"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-tab-button>
      
      

  </ion-tab-bar>

</ion-tabs>
