img{
    height: 40%;
    width: auto;
    margin: auto;
    display: block;
    padding: 5%;
  }
  
  ion-input{
      background-color: #fff082;
      border-color: #000;
      border-radius: 5px;
      width: 80%;
      margin-left: 10%;
      margin-top: 5%;
      padding-bottom: 5%;
  }
  ion-button{
      margin-top: 5%;
      width: 40%;
      margin-bottom: 10%;
      border-radius: 10px;
  }
  ion-content{
      text-align: center;
  }