<ion-content>
  <img class="img1" src="assets/img/vegetal.jpg">

      <ion-card *ngFor="let producto of productos; let i = index">
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                      <ion-col>
                          <div>
                              <img class="img2" src="{{producto.img}}">
                          </div>
                      </ion-col>
                      <ion-col>
                          <div>
                              <h2>{{producto.Nombre}}</h2>
                          </div>
                          <ion-row>
                              <p>Q.{{producto.Precio}} libra</p>
                          </ion-row>
                          <ion-row>
                              <ion-icon name="remove-circle-outline" (click)="decrement(i)"></ion-icon>
                              <h2 class = "letra">{{producto.cantidad}}</h2>
                              <ion-icon name="add-circle-outline" (click)="increment(i)"></ion-icon>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                             <ion-icon [name]="producto.icon"  (click)="add(i)"></ion-icon>
                          </ion-row>
                      </ion-col>
                  </ion-row>
                  <ion-row></ion-row>
              </ion-grid>
          </ion-card-content>
      </ion-card>
 </ion-content>
 