mbsc-card-title{
    font-size: 15px;
}
mbsc-card{
    border-radius: 5px;
}
img{
    border-radius: 5px;
}
mbsc-stepper{
    background-color: #fff;
    font-size: 12px;
    
   
}
mbsc-form-group{
    background-color: #fff; 
    margin-left: -30px;
    margin-bottom: -15px;
    margin-top: 6px;
}
mbsc-button{
    font-size: 15px;
    margin: -17px;
}
mbsc-card-footer{
    margin: 0%;
    border-radius: 5px;
}
mbsc-card-content{
    margin-top: -30px; 
}
