<ion-content>
    <br><br><br><br>

    <ion-list>
            <ion-item>
                <ion-label>Opciones</ion-label>
                <ion-select>
                    <ion-select-option value="f">Por productos</ion-select-option>
                    <ion-select-option value="m">Por cantidad</ion-select-option>
                    <ion-select-option value="m">Por mes</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

    <div *ngIf="ready <= 0; then thenBlock"></div>
    <ng-template #thenBlock><ion-card *ngFor="let key of catkeys">
        
        <div style="display: block">
            <canvas baseChart
              [datasets]="categorias[key].barChartData"
              [labels]="categorias[key].barChartLabels"
              [options]="categorias[key].barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="categorias[key].barChartLegend"
              [chartType]="categorias[key].barChartType"
              [colors]="categorias[key].barChartColors">
            </canvas>
          </div>
    </ion-card>
    </ng-template>
</ion-content>