<ion-content padding>
    <a href="#" routerLink="/tabs/carne"><img class="img1" src="assets/img/1.jpg"/></a>
    &nbsp;
    <a href="#" routerLink="/tabs/pan"><img class="img1" src="assets/img/3.jpg"/></a>

    <a href="#" routerLink="/tabs/vegetales"><img class="img2" src="assets/img/2.jpg"/></a>

    <a href="#" routerLink="/tabs/lacteos"><img class="img1" src="assets/img/4.jpg"/></a>
    &nbsp;
    <a href="#" routerLink="/tabs/dulces"><img class="img1" src="assets/img/5.jpg"/></a>
</ion-content>
